
      <div class="bar bar-dark bar-subheader">
        <a class="button ion-plus custom-btn" ng-click="openAddNewWindow()">&nbsp;Hire</a>
        <a class="button ion-search custom-btn" ng-click="searchFunction()">&nbsp;Search</a>
        <a class="button ion-drag custom-btn" ng-click="orderFunction()">&nbsp;Order</a>
        <a class="button ion-android-close custom-btn" ng-click="clearAll()">&nbsp;Clear all</a>
      </div>
      <ion-content class="has-subheader">
        <div ng-show="isSearchVisible">
          <div class="custom-label item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input id="searchInput" ng-model="search.searchText" type="text" placeholder="Start typing to search...">
            </label>
            <button class="corporate-btn button icon ion-backspace" ng-click="backSpace()"></button>
            <button class="corporate-btn button icon ion-close-circled" ng-click="cleanSearch()";></button>
          </div>
        </div>
        <div ng-show="isOrderVisible" class="order-line">
          <label class="custom-label item item-input item-select labelWithButton">
            <div class="input-label">ORDER BY</div>
            <select ng-model="order.selected">
              <option ng-repeat="item in order.orderList" value="{{item.id}}">{{item.name}}</option>
            </select>
          </label>
          <div>
            <button class="corporate-btn btn-right button icon {{order.reverseIcon}}" ng-click="changeReverse()";></button>
          </div>
          <div class="clear-both"></div>
        </div>
        <ion-list>
          <div ng-repeat="person in emplList | filter: search.searchText | orderBy:order.selected:order.reverse" ng-click="isDetailsVisible = !isDetailsVisible">
            <div id="topOfPage" ng-if="$index == 0"></div>
            <a class="item item-avatar">
              <img src="img/{{person.photo}}.png">
              <h3>{{person.name}}</h3>
              <p>{{person.position}}</p>
            </a>
            <div ng-show="isDetailsVisible" class="details-show">
              <p><span class="info-caption">Started:</span> {{person.start}}</p>
              <p><span class="info-caption">Department:</span> {{person.department}}</p>
              <p ng-if="person.skills.length"><span class="info-caption">Skills:</span> <span ng-repeat="skill in person.skills">{{skill}} </span></p>
            </div>
          </div>
        </ion-list>
      </ion-content>
